{% extends 'base.html' %}
{%  block page_content %}
{% load static %}
<br class="container-inline">
    <section id="registerPage">
        <form method="POST" action="{% url 'change user password' %}">
            <fieldset>
                <legend>Change your Password</legend>
                {{form }}
                {% csrf_token %}
                <!-- Button to Create Profile -->
                <button type="submit" class="register">Change Password</button>
            </fieldset>
        </form>
    </section>
    <br>
</div>
{% endblock %}
