{% extends 'base.html' %}
{%  block page_content %}
{% load static %}
<br class="container-inline">
    <!-- Registration -->
    <section id="registerPage">
        <form method="POST" action="{% url 'register' %}">
            <fieldset>
                <legend>Registration</legend>
                {{form }}
                {% csrf_token %}
                <!-- Button to Create Profile -->
                <button type="submit" class="register">Create User</button>
            </fieldset>
        </form>
    </section>
    <br>
</div>
{% endblock %}
