{% extends 'base.html' %}
{%  block page_content %}
{% load static %}
<br class="container-inline">
    <section id="welcomePage">
        <div id="welcome-message">
            <h1>Welcome to</h1>
            <h1>My Music App!</h1>
        </div>
        <div class="music-img">
            <img src="{% static '/images/musicIcons.webp' %}" alt="music-icon">
        </div>
    </section>
    <!-- Registration -->
    <section id="registerPage">
        <form method="POST" action="{% url 'register' %}">
            <fieldset>
                <legend>Profile</legend>
                {{form }}
                {% csrf_token %}
                <!-- Button to Create Profile -->
                <button type="submit" class="register">Create User</button>
            </fieldset>
        </form>
    </section>
    <br>
</div>
{% endblock %}
