<!--Create Page-->
{% extends 'base.html' %}
{%  block page_content %}
<section class="createPage">

    <form method="POST" action="{%  url 'search book' %}" >
        <fieldset>
            <legend>Add Book</legend>
            <div class="container">
                {{form }}
                 {% csrf_token %}
                <!-- Form for Adding Album -->
                 {% comment %}
                <label for="name">ISBN:</label>

                <input id="name" type="text" placeholder="ISBN" required>


                <label for="artist">Artist:</label>
                <input id="artist" type="text" placeholder="Artist" required>


                <label for="description">Description:</label>
                <textarea id="description" placeholder="Description"></textarea>

                <label for="imgUrl">Image URL:</label>
                <input id="imgUrl" type="url" placeholder="Image URL" required>

                <label for="price">Price:</label>
                <input id="price" type="number" placeholder="Price" required>
                {% endcomment %}
                <!-- Button for Adding Album -->
                <button class="add-album" type="submit">Search</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}
