<!--Create Page-->
{% extends 'base.html' %}
{%  block page_content %}
<section class="createPage">

    <form method="POST" action="{%  url 'search book' %}" >
        <fieldset>
            <legend>Add Book</legend>
            <div class="container">
                {{form }}
                 {% csrf_token %}
                <button class="add-book" type="submit"><b>ISBN, Title Search</b></button>
                <a href="{%  url 'add book' %}" style="text-decoration: none;"><button type="button" class="add-book">Add book manual</button></a>

            </div>
        </fieldset>
    </form>
</section>
{% endblock %}
