<!-- Catalog with Albums-->
{% extends 'base.html' %}
{%  block page_content %}

    {% comment %}

<section id="catalogPage">
{% endcomment %}
<section>

    <!--  If No albums in catalog -->
    <h1>
    {% if list_books %}
     All My Books
    {% else %}
        No books available!
        </h1>
        <p>Please add book to your library!</p>
    {% endif %}
    <!-- If albums in catalog -->

    {% csrf_token %}
    {% if list_books %}
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                {% for book in list_books %}
                    <div class="row p-2 bg-white border rounded mt-2">
                        <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="{{ book.image }}"></div>
                        <div class="col-md-6 mt-1">
                            <h5>{{ book.title }}</h5>
                            {%  comment %}
                            <div class="d-flex flex-row">
                                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                            </div>
                            {% endcomment %}
                            <div class="mt-1 mb-1 spec-1">
                                {% for author in book.authors.all %}
                                <span>{{ author.name }}</span>
                                {% endfor %}
                            </div>
                            <div class="mt-1 mb-1 spec-1">
                                <span>Unique design</span>
                                <span class="dot"></span><span>For men</span>
                                <span class="dot"></span><span>Casual<br></span>
                            </div>
                            <p class="text-justify text-truncate para mb-0">{{ book.description }}</p>
                        </div>
                        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                            <div class="d-flex flex-column mt-4">
                                <button class="btn btn-primary btn-sm" type="button">Details</button>
                                <button class="btn btn-outline-primary btn-sm mt-2" type="button">Delete</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

    <!-- First Card-Box in catalog -->
        {% comment %}
     {% for album in albums %}
    <div class="card-box">
        <img src="{{ album.image_url }}" alt="{{ album.description }}">
        <div>
            <div class="text-center">
                <p class="name">Name: {{ album.name}}</p>
                <p class="artist">Artist: {{ album.artist }}</p>
                <p class="genre">Genre: {{ album.genre }}</p>
                <p class="price">Price: ${{ album.price|floatformat:2 }}</p>
            </div>
            <div class="btn-group">
                <a href="{% url 'album details page' album.id%}">Details</a>
            </div>
        </div>
    </div>
     {% endfor %}
     {% endcomment %}

    <!-- End First Card-Box in catalog -->

    <!-- Second Card-Box in catalog -->
    {% comment %}
    <div class="card-box">
        <img src="/static/images/pinkFloyd.jpg">
        <div>
            <div class="text-center">
                <p class="name">Name: The Dark Side of the Moon</p>
                <p class="artist">Artist: Pink Floyd</p>
                <p class="genre">Genre: Rock Music</p>
                <p class="price">Price: $28.75</p>
            </div>
            <div class="btn-group">
                <a href="#">Details</a>
            </div>
        </div>
    </div>
    <!-- End Second Card-Box in catalog -->

    <!-- Third Card-Box in catalog -->
    <div class="card-box">
        <img src="/static/images/Lorde.jpg">
        <div>
            <div class="text-center">
                <p class="name">Name: Melodrama</p>
                <p class="artist">Artist: Lorde</p>
                <p class="genre">Genre: Pop Music</p>
                <p class="price">Price: $7.33</p>
            </div>
            <div class="btn-group">
                <a href="#">Details</a>
            </div>
        </div>
    </div>
    <!-- End Third Card-Box in catalog -->
    {% endcomment %}

</section>
{% endblock %}
