<!-- Catalog with Albums-->
{% extends 'base.html' %}
{%  block page_content %}

    {% comment %}

<section id="catalogPage">
{% endcomment %}
<section>

    <!--  If No albums in catalog -->
    {% if not list_publishers %}
        <h1>No Publisher available!</h1>
        <h2>Please add a Publisher!</h2>
    {% else %}

               <input type="text" style ="margin-bottom: 12px; margin-top: 25px;" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
            <table id="myTable">
              <tr class="header">
                <th >Name</th>
                <th >Details</th>
              </tr>
                {% for publisher in list_publishers %}
              <tr>
                  <td>{{ publisher.publisher_name }}</td>
                  <td><a href="{% url 'details publisher' publisher.pk %}"><button class="btn-primary btn-lg" type="button"><i class="fa fa-info">Details</i></button></a></td>
              </tr>
            {% endfor %}

    </table>

    {% endif %}




</section>
{% endblock %}
