
.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: #8B4513;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}
span {
    font-weight: 300
}

.para {
    font-size: 16px
}



transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

/* Customer Buttons */

/* ------- customize primary buttons -------- */
    /* custom primary buttons */

    .btn-primary {
        color: #212529;
        background-color: #eeeeee;
        border-color: #eeeeee;
        width: 120px !important;

    }

    .btn-primary:hover {
        color: #212529;
        background-color: #e2e2e2;
        border-color: #e2e2e2
    }

    .btn-primary:focus,
    .btn-primary.focus {
        box-shadow: 0 0 0 .2rem rgb(241, 241, 242)
    }

/* table authors*/

#myInput {
    background: transparent url('/static/images/searchicon.png') no-repeat 13px center;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: auto;
    background: #f1f1f1;
    width: 50%;
    color: black;
    /*background: white;*/
    opacity: 0.9;

}

#myTable {

  border: 1px solid #ddd;
  font-size: 18px;
    pacity: 0.9;
    color: black;
    background: white;
     width: 50%;
    opacity: 0.9;
}


#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #ddd;
}
