
.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: #8B4513;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}
span {
    font-weight: 300
}

.para {
    font-size: 16px
}



transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

/* Customer Buttons */

/* ------- customize primary buttons -------- */
    /* custom primary buttons */

    .btn-primary {
        color: #212529;
        background-color: #7cc;
        border-color: #5bc2c2;
        width: 120px !important;

    }

    .btn-primary:hover {
        color: #212529;
        background-color: #52bebe;
        border-color: #8ad3d3
    }

    .btn-primary:focus,
    .btn-primary.focus {
        box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
    }

/* table authors*/

#myInput {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin: auto;
    background: #f1f1f1;
    width: 70%;
    color: black;

}

#myTable {

  border: 1px solid #ddd;
  font-size: 18px;
    pacity: 0.9;
    color: black;
     background: #f1f1f1;
     width: 70%;
}


#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #ddd;
}
